html{
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
  }
  
body{
    margin: 0%;
    border:0%;
    outline:0%;
  
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#addpost{
    font-size: 35px;
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 50%;
    display: flex;
    margin: 12px
}

/* body{
    background-color: black;
    color: aliceblue;
}

.thead{
    background-color: grey;
}

tbody{
    color:aliceblue;
}

table{
    border-style: solid;
    border-color: orangered;
}

a{
    color: orangered;
}

a:hover{
    text-decoration: none;
    color: brown;
} */