<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
		xmlns:sec="http://www.thymeLeaf.org/thymeLeaf-extras-springsecurity5"
		>

<head>
	<meta charset="UTF-8">
	<title>Create Post</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>

<body>

	<div th:replace="@{fragment/navbar}"></div>

	<div class="container">



		<form th:action="@{/upload_post}" method="post" th:object="${post1}" enctype="multipart/form-data">
			<div class="m-3">
			<h1> Create Post </h1>

		
			
			<div class="field">
				<label class="title">Title: </label>
				<div>
					<input type="text" class="form-control title" th:field="*{Title}" required minlength="2"
						maxlength="100" />
				</div>
			</div>
			
			<div class="field">
				<label class="des">Description: </label>
				<div>
					<input type="text" class="form-control des" th:field="*{Description}" required minlength="2"
						maxlength="500" />
				</div>
			</div>

			<div>
				<label>Category:</label>
				<select class="select" th:field="*{Category}">
					<option th:value="'Drainage_System'" th:text="Drainage_System"></option>
					<option th:value="'Pest_Control'" th:text="Pest_Control"></option>
					<option th:value="'Electricity'" th:text="Electricity"></option>
					<option th:value="'Other'" th:text="Other"></option>

				</select>
			</div> 

			<div>
				<label>Photos: </label>
				<input type="file" name="image" accept="image/png, image/jpeg" />
			</div>


			<div>
				<button type="submit" class="button">Upload Post</button>
			</div>
	</div>
	</form>
	</div>

</body>

</html>