<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
		xmlns:sec="http://www.thymeLeaf.org/thymeLeaf-extras-springsecurity5"
		>


<head>
	<meta charset="UTF-8">
	<title>Request</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>

<body>

<div th:replace="@{fragment/navbar}"></div>

  
	<div class="container">
		<form th:action="@{/declare_role}" method="post" th:object="${Request}" <div class="m-3">
      <h1> Request your role </h1>

      <div class="select">
			<select class="select" th:field="*{role_id}">
    			<option th:value="'2'" th:text="Authority"></option>
    			<option th:value="'3'" th:text="Moderator"></option>
			</select>
    </div>
			
			<div class="field">
				<label>Enter Aadhar Card Number: </label>
				<div >
					<input type="text" class="form-control" th:field="*{idf}" required minlength="2"
						maxlength="500" />
				</div>
			</div>

			<div >
			<button type="submit" class="button">Confirm</button>
			</div>
	</div>
	</form>
	</div>

</body>

</html>