<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
	<style>
		body{
			margin-top:50px
		}
	</style>
</head>

<body>
	<div class="container">
		<form th:action="@{/process_register}" method="post" th:object="${user}">
			<h1>Sign  Up</h1>

			<div class="field">
				<label>First Name</label>
				<div class="inputbox">
					<input type="text" class="form-control" th:field="*{firstname}" required minlength="2"
						maxlength="20" />
				</div>
			</div>

			<div class="field">
				<label>Last Name</label>
				<div class="inputbox">
					<input type="text" class="form-control" th:field="*{lastname}" required minlength="2"
						maxlength="20" />
				</div>
			</div>

			<div class="field">
				<label class="email">E-mail</label>
				<div class="inputbox">
					<input type="email" th:field="*{email}" class="form-control" required />
				</div>
			</div>


			<div class="field">
				<label class="password">Password</label>
				<div class="inputbox">
					<input type="password" th:field="*{password}" class="form-control" required minlength="6"
						maxlength="10" />
				</div>
			</div>

			<span > 
				<button type="submit" class="button">Submit</button>
			</span>

	</form>

	<div>
		<a class="button"th:href="@{/login}">Login Page</a>
	 </div>

	 
	<div>
		<a class="button"th:href="@{/home}">Main Page</a>
	 </div>
	</div>

</body>

</html>